 /* note index */

 .note-add {
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-add input {
    font-size: 1rem;
    color: black;
    line-height: 1.25em;
    padding: 12px 16px;
    width: 37em;
    margin: 2em 1em;
    border-radius: 0.5em;
    border: solid lightgrey;
    border-width: 1px 1px 1px 1px;  
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-save-newNote{
    display: none;
}

